@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/**
 * Custom styles
 */
.vulv-top-menu-expanded {
  @apply absolute top-10 z-50 w-full bg-white text-center animate-slideDown;
}

.vulv-top-menu-item-active {
  @apply text-gray-800;
}

.ct-top-menu-item {
  @apply cursor-pointer py-1 hover:text-gray-800 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0 after:lg:bg-coffee-200 after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:ease-in-out after:lg:duration-300;
}

.vulv-icon {
  @apply w-5 h-5 inline-block;
}

.vulv-badge-circle {
  @apply top-0 right-0 bg-red-500 text-white rounded-full text-xs px-1;
}

.vulv-subheadline {
  @apply flex justify-center items-center my-16;
}

.vulv-subheadline-decor-line {
  @apply w-8 h-px bg-gray-200;
}

.vulv-subheadline-label {
  @apply uppercase mx-3 text-center tracking-widest text-gray-500 font-medium text-xs;
}

.vulv-button {
  @apply text-center uppercase py-4 px-8 font-semibold cursor-pointer text-sm tracking-wider hover:bg-opacity-95;
}

#root {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  /* ... */
  perspective: 2px; /* Điều chỉnh giá trị này */
}

.vulv-no-parallax,
.vulv-parallax-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vulv-parallax-section {
  position: relative;
  z-index: -1;
  height: 50vh; /* Điều chỉnh giá trị này nếu cần */
}

.vulv-no-parallax {
  height: auto;
  z-index: 999;
  background: white;
}

.vulv-parallax-image {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2; /* Điều chỉnh z-index để đảm bảo nó nằm dưới các phần tử khác */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

@media (max-width: 430px) {
  .vulv-parallax-section {
    height: 40vh; /* Điều chỉnh giá trị này nếu cần */
    transform-style: preserve-3d;
  }
  .vulv-parallax-image {
    transform: translateZ(-1px) scale(1); /* Điều chỉnh giá trị này để phù hợp với màn hình nhỏ */
  }
}

@media (min-width: 431px) and (max-width: 1024px) {
  .vulv-parallax-section {
    height: 50vh; /* Điều chỉnh giá trị này nếu cần */
    transform-style: preserve-3d;
  }
  .vulv-parallax-image {
    transform: translateZ(-1px) scale(1); /* Điều chỉnh giá trị này để phù hợp với màn hình nhỏ */
  }
}

@media (min-width: 1024px) {
  .vulv-parallax-section {
    height: 60vh; /* Điều chỉnh giá trị này nếu cần */
    transform-style: preserve-3d;
  }
  .vulv-parallax-image {
    transform: translateZ(-1px) scale(1.2); /* Điều chỉnh giá trị này để phù hợp với màn hình lớn */
  }
}
